MONGODB_URL=mongodb://mongo:27017
MONGODB_DB=insightloop
SOURCE_DB_URL=postgresql+asyncpg://user:pass@postgres/insightloop
ANTHROPIC_API_KEY=
LANGCHAIN_API_KEY=
FERNET_KEY=
JWT_SECRET=Sanjay20378
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_BUCKET=
SENDGRID_API_KEY=
FROM_EMAIL=
FRONTEND_URL=http://localhost:3000
